<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uprawnienia muszą być TU: bezpośrednio pod <manifest> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSenior">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartSenior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menu modułów i moduł 1 -->
        <activity android:name=".ui.moduleMenu.ModuleMenuActivity" />
        <activity android:name=".ui.moduleMenu.modules.Module1Activity" />
        <activity android:name=".ui.moduleMenu.modules.TheoryActivity" />
        <activity android:name=".ui.moduleMenu.modules.SmsEmailActivity" />

        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.miniGamesMenu.MiniGamesMenuActivity" />
        <activity android:name=".ui.miniGamesMenu.miniGames.MemoryActivity" />
        <activity android:name=".ui.miniGamesMenu.miniGames.DictionaryActivity" />
        <activity android:name=".ui.miniGamesMenu.miniGames.SafePasswordActivity" />

        <activity android:name=".ui.virtualAssistant.virtualAssistantActivity" />
        <activity android:name=".ui.tutorial.TutorialActivity" />
        <activity android:name=".ui.notifications.NotificationsActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />

        <!-- Samouczek -->
        <activity android:name=".ui.tutorial.TutorialActivity1" />
        <activity android:name=".ui.tutorial.TutorialActivity2" />
        <activity android:name=".ui.tutorial.TutorialActivity3" />
        <activity android:name=".ui.tutorial.TutorialActivity4" />
        <activity android:name=".ui.tutorial.TutorialActivity5" />
        <activity android:name=".ui.tutorial.TutorialActivity6" />

        <!-- Zadania -->
        <activity android:name=".ui.moduleMenu.modules.tasks.TasksActivity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task1Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task2Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task3Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task4Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task1Page1Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task1Page2Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task1Page3Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task1Page4Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task2Page1Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task2Page2Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task2Page3Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task3Page1Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task3Page2Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task4Page1Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task4Page2Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task4Page3Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task4Page4Activity" />

        <!-- Moduł: Telefon od podejrzanego nieznajomego -->
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.TheoryActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.CallFromAnUnknownMenuActivity" />
        <!-- Scenariusz: Telefon na policjanta -->
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman1Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman2Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman2aActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman3Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman4Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman5Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman6Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman6aActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.policeScenario.Policeman7Activity" />

        <!-- Scenariusz: Telefon na bank -->
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank1Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank2Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank3Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank3aActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank4Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank4aActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank5Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank6Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank7Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.bankScenario.Bank8Activity" />

        <!-- Scenariusz: Telefon na wnuczka -->
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild1Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild2Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild2aActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild3Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild4Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild5Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild6Activity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild6PositiveActivity" />
        <activity android:name=".ui.moduleMenu.modules.callFromAnUnknown.grandchildScenario.Grandchild7Activity" />

        <activity android:name=".ui.moduleMenu.modules.Module3Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.WebsiteActivity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.Website2Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.Website3Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.Website4Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.Website5Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.Website6Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.PracticeMoreActivity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.MedalBronzeActivity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.MedalSilverActivity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.MedalGoldActivity" />

        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory1Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory2Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory3Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory4Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory5Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory6Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory7Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory8Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory9Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheory10Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.ShoppingTheoryEndActivity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.quiz.ShoppingQuizIntroActivity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.quiz.ShoppingQuizPage1Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.quiz.ShoppingQuizPage2Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.quiz.ShoppingQuizPage3Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.quiz.ShoppingQuizPage4Activity" />
        <activity android:name=".ui.moduleMenu.modules.shopping.quiz.ShoppingQuizSummaryActivity" />

        <!-- Fake news -->
        <activity android:name=".ui.moduleMenu.modules.fakenews.FakeNewsModuleActivity" />
        <activity android:name=".ui.moduleMenu.modules.fakenews.FakeNewsIntroActivity" />
        <activity android:name=".ui.moduleMenu.modules.fakenews.FakeNewsQuizActivity" />

        <!-- Zaufane kontakty -->
        <activity android:name=".ui.trustedContacts.TrustedContactsActivity" />
        <activity android:name=".ui.trustedContacts.TrustedContactFormActivity" />

        <!-- AI Lite -->
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiActivity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiTheoryActivity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiTheory2Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiTheory3Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiTheory4Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiTheory5Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPhotoActivity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPhoto2Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPhoto3Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPhoto4Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPhoto5Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPhoto6Activity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiMedalBronzeActivity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiMedalGoldActivity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiMedalSilverActivity" />
        <activity android:name=".ui.moduleMenu.modules.aiLite.AiPracticeMoreActivity" />



    </application>

</manifest>
