<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSenior">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartSenior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.moduleMenu.ModuleMenuActivity" />
        <activity android:name=".ui.moduleMenu.modules.Module1Activity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.miniGamesMenu.MiniGamesMenuActivity" />
        <activity android:name=".ui.miniGamesMenu.miniGames.MiniGame1Activity" />
        <activity android:name=".ui.wirtualAssistant.WirtualAssistantActivity" />
        <activity android:name=".ui.tutorial.TutorialActivity" />
        <activity android:name=".ui.notifications.NotificationsActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <!-- Ekrany samouczka -->
        <activity android:name=".ui.tutorial.TutorialActivity1" />
        <activity android:name=".ui.tutorial.TutorialActivity2" />
        <activity android:name=".ui.tutorial.TutorialActivity3" />
        <activity android:name=".ui.tutorial.TutorialActivity4" />
        <activity android:name=".ui.tutorial.TutorialActivity5" />
        <activity android:name=".ui.tutorial.TutorialActivity6" />
        <activity android:name=".ui.moduleMenu.modules.TheoryActivity" />
        <activity android:name=".ui.moduleMenu.modules.SmsEmailActivity" />

        <!-- Zadania -->
        <activity android:name=".ui.moduleMenu.modules.tasks.TasksActivity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task1Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task2Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task3Activity" />
        <activity android:name=".ui.moduleMenu.modules.tasks.Task4Activity" />
    </application>

</manifest>